.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: -60px;
    cursor: pointer;
    transition: right 0.6s ease-in-out; 
    z-index: 9;
    }
    .scroll-to-top.visible {
      right: 20px; 
    }
    .scroll-to-top.hidden {
    right: -60px; 
    }
  