
.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
    flex-wrap: wrap;
    }
    .one {
    color: #A0855B;
    font-size: 32px;
    font-weight: bolder;
    margin: 0;
    margin-top: 50px;
    font-family: 'Inter', sans-serif;
    }
    .two {
    color: #38470B;
    font-size: 20px;
    font-weight: bolder;
    font-style: italic;
    margin: 0;
    font-family: 'Inter', sans-serif;
    }
    .three {
    color: #A0855B;
    font-size: 20px;
    width: 300px;
    font-family: 'Inter', sans-serif;
    }
    .header {
    color: #38470B;
    text-align: center;
    font-family: 'Inter', sans-serif;
    padding: 10px;
    }
    .aboutCoffee {
    display: flex;
    margin-bottom: 50px;
    flex-wrap: wrap;
    }
    .info-container {
    background-color: #A0855B;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    z-index: -100;
    }
    .textBoxTwo {
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 600;
    width: 40%;
    align-self: center; 
    text-align: center;
    }
    .fresh {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    width: 60%;
    align-self: center; 
    text-align: center;
    margin-bottom: 50px;
    }
    .everyMonth {
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 20px;
    font-weight: lighter;
    }
    hr {
    width: 30%;
    color: #ffffff;
    }
    .interior {
    width: 50%;
    }
    @media all and (max-width: 576px) {
    .aboutCoffee {
    flex-direction: column;
    }
    .textBoxTwo {
    font-size: 24px;
    width: 70%;
    }
    .fresh {
    font-size: 16px;
    width: 80%;
    }
    .everyMonth {
    margin-top: -6px;
    }
    .interior {
    width: 100%;
    }
    }