body {
  background-color: #F9F6F2;
  margin: 0;
  }

  h1, .home-header {
    color: #F9F6F2;
    font-family: 'Inter', sans-serif;
  }
.home-header {
  font-style: italic;
}
  .header {
    color: #38470B;
    text-align: center;
    font-family: 'Inter', sans-serif;
    padding: 10px;
    }
  .name {
  color: rgba(145, 91, 74, 1);
  font-size: 30px;
  text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Inter', sans-serif;
  }
  .talks {
  color: #38470B;
  }
  .header-nav {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  }
  .link {
  margin-top: 15px;
  text-decoration: none;
  color: #38470B;
  font-size: 24px;
  text-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
  font-family: 'Inter', sans-serif;
  }
  .logo {
  display: flex;
  margin-right: auto;
  }

  .footer {
  width: 80%; 
  margin-top: 100px;
  background-color: #38470B;
  height: 3px;
  border: none;
  }
  .foot {
  color: #38470B;
  display: flex;
  justify-content: space-around;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 20px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  flex-wrap: wrap;
  }
  .cont {
  font-size: 18px;
  font-weight: 100;
  font-family: 'Inter', sans-serif;
  }
  .text {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
  }
  .header-menu-btn {
  display: none;
  }
  .scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: -60px;
  cursor: pointer;
  transition: right 0.6s ease-in-out; 
  z-index: 9;
  }
  .cart-button {
  position: fixed;
  bottom: 65px;
  right: -60px;
  cursor: pointer;
  transition: right 0.6s ease-in-out; 
  z-index: 9;
  border: none;
  background: linear-gradient(#efdc5e,#FF9843); 
  }
  .scroll-to-top.visible {
    right: 20px; 
  }
  .cart-button.visible {
  right: 10px; 
  }
  .scroll-to-top.hidden,
  .cart-button.hidden {
  right: -60px; 
  }

  @media all and (max-width: 768px) {
  .header-nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: -290px;
  width: 250px;
  height: 100%;
  background-color: #F9F6F2;;
  border: 1px solid #38470B;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  transition: transform 0.7s ease;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.25);
  justify-content: flex-start;
  z-index: 100;
  }
  .header-nav.active {
  transform: translateX(100%);
  }
  .link {
  margin-left: 50px;
  margin-top: 30px;
  color: #38470B;
  }
  .header-menu-btn {
  display: block;
  margin-left: auto;
  width: 40px;
  height: 40px;
  font-size: 40px;
  border: none;
  background-color: transparent;
  color: #38470B;
  }

  }