
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

  .cart-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  }

  .cart-btn {
    background-color: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
  }

  .quantity{
    width: 20px;
    height: 20px;
    background-color: #FF9843; 
    font-family: 'Inter', sans-serif;
    color: #38470B;
    font-weight: 600;
    margin: 0;
    margin-right: 6px;
  }

  
.custom-button {
  color: #f4eddd;
  margin: 20px;
  padding: 10px;
  width: 200px;
  border: none;
  font-size: 24px;
  font-weight: 100;
  font-style: italic;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
}

.custom-title {
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  color: #38470B;
  font-style: normal;
}

